* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  padding: 2px;
  outline: 4px solid hsl(35deg, 77%, 62%);
}

*::selection {
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(5deg, 85%, 63%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(35deg, 77%, 62%);
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  padding: 1em;
  background-color: hsl(36deg, 100%, 99%);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  align-items: center;
  height: 3em;
}
header .logo {
  flex: 1;
}
header nav a {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
  transition: color 0.3s linear;
}
header nav a:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}

.mobile-hero-image {
  width: 100%;
}

h1 {
  margin-top: 0.5em;
  font-weight: 800;
  font-size: 2.5em;
  color: hsl(240deg, 100%, 5%);
}

p {
  font-size: 15px;
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5;
}

#hero-readmore {
  margin: 1em 0;
}
#hero-readmore button {
  text-transform: uppercase;
  margin-top: 1em;
  padding: 1em 2em;
  border: none;
  background-color: hsl(5deg, 85%, 63%);
  font-weight: 700;
  letter-spacing: 0.3em;
  color: hsl(36deg, 100%, 99%);
  transition: background-color, 0.3s linear;
}
#hero-readmore button:hover {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}

#new-section {
  background-color: hsl(240deg, 100%, 5%);
  margin: 3em 0;
  padding: 1em;
}
#new-section h2 {
  color: hsl(35deg, 77%, 62%);
  font-weight: 800;
  margin-bottom: 1.5em;
}
#new-section h3 {
  font-weight: 700;
  margin-bottom: 1em;
}
#new-section h3 a {
  transition: color, 0.3s linear;
  color: hsl(36deg, 100%, 99%);
  text-decoration: none;
}
#new-section h3:hover a {
  color: hsl(35deg, 77%, 62%);
}
#new-section p {
  color: hsl(233deg, 8%, 79%);
}
#new-section hr {
  margin: 1.5em 0;
  color: hsl(236deg, 13%, 42%);
}

.article-link {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 1.5em;
  margin: 1.5em 0;
}
.article-link img {
  width: 100%;
}
.article-link .info {
  display: grid;
  justify-content: space-between;
}
.article-link h3 {
  font-weight: 700;
}
.article-link h3.title a {
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
  transition: color, 0.3s linear;
}
.article-link h3.title:hover a {
  color: hsl(5deg, 85%, 63%);
}
.article-link h3.number {
  color: hsl(233deg, 8%, 79%);
  font-size: 2em;
}

.attribution {
  color: hsl(236deg, 13%, 42%);
  font-weight: 700;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
  transition: color 0.3s linear;
}
.attribution a:hover {
  color: hsl(5deg, 85%, 63%);
}

.hamburger-menu {
  background-color: hsl(36deg, 100%, 99%);
  border: none;
  height: 2.5em;
  z-index: 2;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.open {
  animation-name: slide-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}
.close {
  display: none;
  animation-name: spin;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  grid-template-columns: 30vw 70vw;
  height: 100vh;
}
.mobile-nav .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.mobile-nav .nav-items {
  display: flex;
  flex-direction: column;
  padding: 6em 2em;
  background-color: hsl(36deg, 100%, 99%);
  z-index: 1;
}
.mobile-nav .nav-items a {
  margin: 1em 0;
}

.desktop-nav, .desktop-hero-image {
  display: none;
}

@media screen and (min-width: 800px) {
  body {
    padding: 3em;
  }
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
    line-height: 2;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4em;
  }
  .desktop-nav a {
    color: hsl(236deg, 13%, 42%);
  }
  header {
    margin-bottom: 2em;
  }
  .hamburger-menu, .mobile-nav, .mobile-hero-image {
    display: none;
  }
  .desktop-hero-image {
    display: block;
    width: 100%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
  }
  .hero-image-wrap {
    grid-column: 1/3;
  }
  #hero-readmore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #hero-readmore button {
    width: fit-content;
  }
  #new-section {
    margin: 0;
    grid-column: 3/-1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5em;
  }
  #new-section h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  .article-link {
    margin-top: 3em;
    grid-template-columns: 125px 1fr;
  }
  .article-link h3 {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
